@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0 5% 5%;
}

a {
  text-decoration: underline;
}
a:hover {
  @apply text-electric-purple
}

.active {
  @apply text-electric-purple no-underline;
}

.button {
  @apply hover:bg-electric-purple-dark rounded-full bg-electric-purple px-3 py-1 font-bold text-white no-underline hover:text-white;
}

@layer components {
  .input {
    @apply w-full rounded-md px-2;
  }
}
