@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  padding: 0 5% 5%;
}

.active {
  @apply text-electric-purple;
}

a {
  text-decoration: underline;
}
a:hover {
  color: red;
}

@layer components {
  .button {
    @apply hover:bg-electric-purple-dark rounded-full bg-electric-purple px-3 py-1 font-bold text-white no-underline hover:text-white;
  }

  .input {
    @apply w-full;
  }
}
